@font-face {
	font-family: "PoiretOne";
	font-style: normal;
	font-weight: normal;
	src: url("assets/fonts/PoiretOne-Regular.woff2");
}

:root {
	--safe-area: 20px;

	--background: #000;
	--background-light: #191919; /* 151515 */
	--background-active: #333;
	--background-translucent: #2223;
	--text: #f2f2f2;
	--text-light: #828282;

	--accent: #222;
}
@media (prefers-color-scheme: light) {
	:root {
		--background: #DDD;
		--background-light: #fff;
		--background-translucent: #eee3;
		--text: #000;
		--text-light: #33333399;
		--accent: #AAA;
	}
}

/* RESETS */
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	interpolate-size: allow-keywords;
	text-decoration: none;
}
* { font-family: system-ui; }

html, body {
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	background: var(--background);
	overflow: hidden;
}

button {
	border: none;
	color: var(--text);
	background: transparent;
	transition: .3s, color .5s, background .6s ease-in, border-color .3s, opacity .2s, translate .2s;

	&:active {
		background: var(--accent);
		scale: .9;
		transition: .3s, color .5s, background .3s, border-color .3s, opacity .2s, translate .2s;
	}
}

button[icon] {
	width: 48px;
	aspect-ratio: 1;
	border-radius: 50px;
	font-size: 24px;

	&:active { scale: .8; }
}
