permission-view {
	position: fixed;
	inset: 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: var(--background);
	z-index: 3;

	opacity: 0;
	display: none;
	transition: opacity .3s, display .2s allow-discrete;

	p {
		margin-top: auto;
		color: var(--text-light);
		line-height: 1.2rem;
		text-align: center;

		strong {
			color: var(--text);
			font-weight: 600;
		}
	}

	button[icon] {
		width: 72px;
		margin-block: auto 24px;
		font-size: 28px;
	}
}

[mode="permission"] permission-view {
	display: flex;
	opacity: 1;

	@starting-style { opacity: 0; }
}
