label-list {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	gap: 12px;
	padding-inline: 0 20px;

	animation: scroll-reveal both;
	animation-timeline: scroll(x);

	& h3 {
		margin-inline: 56px;
		color: var(--fg);
		font: 400 var(--text-m)/var(--text-l) PoiretOne;
	}

	& button {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 8px 12px 8px; /* poppins is one pixel out of alignment! */
		border-radius: 6px;
		border: 2px solid;
		background: transparent;
		font: 600 var(--text-s)/var(--text-s) Poppins;
		text-transform: uppercase;
		letter-spacing: .1em;
		transition: .2s ease-out;
		scroll-snap-align: end;
		scroll-padding-inline-end: var(--scroll-overshoot);

		& span {
			margin: -4px 0 -4px -4px;
			color: inherit;
			font-size: 20px !important;
		}
	}

	& button.filter { border-radius: 50px; }

	& button.done-done { background: var(--bg); color: var(--green); border-color: var(--green); }
	& .done-done[state="done"] { background: var(--green); color: var(--bg); border-color: var(--green); }
	& .done-done[state="notdone"] { text-decoration: line-through 3px; }

	& span { color: var(--fg); }

	& button.backup { border-radius: 16px 4px 4px 16px; }
	& button.restore { margin-inline-start: -10px; border-radius: 4px 16px 16px 4px; }
}

@keyframes scroll-reveal {
	0%, 5% { opacity: 0; }
	30% { opacity: 1; }
}