image-view {

	position: fixed;
	inset: 0;
	background: var(--background);

	&[src=""] { display: none; }

	image-carousel {
		display: flex;
		gap: 24px;

		img {
			width: 100vw;
			height: 100vh;
			object-fit: contain;
		}
	}

	thumbnail-carousel {
		position: fixed;
		display: flex;
		overflow: auto;
		img {
			/* TODO setup scroll snapping */
		}
	}

	toolbar {
		position: fixed;
		inset: auto auto 12px 50%;
		translate: -50% 0;
		display: flex;
		align-items: center;
		gap: 8px;
		padding: 4px 24px 4px 4px;
		border-radius: 28px;
		background: var(--background-light);

		#back-button {
			flex-shrink: 0;
			background: radial-gradient(var(--background-active) 20px, var(--background-light) 20px);
		}
		info {
			h1, span {
				max-width: 70vw;
				color: var(--text);
				font: 400 18px / 1 system-ui;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			span {
				color: var(--text-light);
				font: 400 12px / 1 system-ui;
			}
		}
	}
}
